body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6, a, button {
  margin: 0;
  font-family: Poppins;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}