header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

header img {
    width: 100px;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 0 1rem;
}